header.header 
    .container
        .header__row
            .header__main
                h1.header__logo Funiro.
                nav.header__nav.nav 
                    ul.nav__links
                        li.nav__link
                            p.nav__link__title Products
                            .nav__link__icon.icon-arrow-down
                            .nav__link__dropdown-content 
                                a(href="#") link1
                                a(href="#") link2
                                a(href="#") link3
                        li.nav__link
                            p.nav__link__title Rooms
                            .nav__link__icon.icon-arrow-down
                            .nav__link__dropdown-content 
                                a(href="#") link1
                                a(href="#") link2
                                a(href="#") link3  
                        li.nav__link
                            a(href="#")
                                p.nav__link__title Inspirations
            .header__search
                | search line
            .header__extra 
                | extra tools