doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Funiro.

		link(rel="stylesheet" href="css/normalize.min.css")
		link(rel="stylesheet" href="css/style.css") 
	body 
		.main
			include header.pug
		| some text