.header {
  display: flex;
  align-items: center;
  height: 125px;
}
.header__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__search {
  flex-grow: 1;
}
.header__main {
  display: flex;
  align-items: center;
}
.header__logo {
  display: inline-block;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.header__nav {
  display: inline-block;
}

.nav__links {
  display: inline-flex;
  align-items: center;
  list-style: none;
  margin: 0;
}
.nav__link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3A3A3A;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.nav__link__title {
  float: left;
  margin-right: 8px;
  text-decoration: none;
}
.nav__link__icon {
  float: right;
  font-size: 11px;
  width: 20px;
  height: 20px;
}
.nav__link__icon::before {
  padding-top: 5px;
}
.nav__link__dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f1e7;
  border-top: none;
  padding: 0px 10px;
  min-width: 140px;
  z-index: 1;
  top: 50px;
}
.nav__link__dropdown-content a {
  padding: 5px;
  display: block;
}
.nav__link:hover .nav__link__dropdown-content {
  display: block;
}
.nav__link:not(:last-child) {
  margin-right: 40px;
}