

.phone-input {
	margin: 50px;
	
	padding: 20px;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 4px;

	text-align: center;
	font-family: Acumin Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 2em;
	line-height: 100%;
	color: rgba(0,0,0, 0.6);

	&:focus {
		outline-offset: 5px;
	}

	&_add-shadow {
		box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.1);
	}
}