$md_wrap_img: 1023px;


.recommendations {
	margin-top: 60px;
	margin-bottom: 150px;

	&__container {
		display: flex;
		justify-content: space-between;

		@media (max-width: $md_wrap_img) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__content {
		margin-left: 35px;
		max-width: 440px;
		flex: 1 0 440px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (max-width: $md_wrap_img) {
			margin: 0;
		}
	}

	&__img {
		position: relative;
		flex: 0 1 530px;
		@media (max-width: $md_wrap_img) {
			flex: 0 1 auto;
			margin-bottom: 40px;
		}
		img {
			max-width: 100%;
			@media (max-width: $md_wrap_img) {
				max-width: calc(210px + (530 - 210)*((100vw - 320px) / (1023 - 320)));
			}
		}

		&__overflow {
			position: absolute;
			bottom: 12%;
			left: -40px;
		}
	}
}

.recommendation {
	img {
		max-width: 56px;
		max-height: 56px;
		box-shadow: 0px 12.5714px 24px rgba(61, 85, 249, 0.2);
	}

	&__title {
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 160%;
		color: #071330;
	}

	&:not(:last-child) {
		margin-bottom: 80px;
	}
}