$md_wrap_img: 1023px;

.social-biohacking {
	margin-top: 170px;
	&__container {
		display: flex;	
		justify-content: space-between;

		@media (max-width: $md_wrap_img) {
			flex-wrap: wrap;
			flex-direction: column;
		}
	}

	&__content {
		flex: 0 0 470px;
		display: flex;
		justify-content: center;

		flex-direction: column;
		margin-right: 33px;

		@media (max-width: $md_wrap_img) {
			margin: 0;
		}
	}

	&__snapshot {
		margin-left: 95px;
		width: 270px;
		height: 590px;
		flex-basis: 270px;
		@media (max-width: $md_wrap_img) { 
			width: 200px;
			flex-basis: 438px; 
			align-self: center;
			margin: 0;
		}
		background: url('../img/mockup-1.png');
		background-size: cover;
		background-position: center center;
		filter: drop-shadow(0px 16px 32px rgba(7, 19, 48, 0.08));
		border-radius: 44px;
	}

	&__microtitle {
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
		color: #3D55F9;
		margin: 0px 0px 20px 0px;
	}

	&__title {
		margin: 0px 0px 26px 0px;
	}

	&__text {
		margin: 0px 0px 31px 0px;
	}
}