@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'header.scss';
@import 'footer.scss';
@import 'main-page.scss';
@import 'social-biohacking.scss';
@import 'discover-page.scss';
@import 'discover-features.scss';
@import 'quote.scss';
@import 'about_snapshot.scss';
@import 'snapshots.scss';
@import 'about.scss';
@import 'recommendations.scss';

* {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}			

.container {
	max-width: 1100px;
	padding: 0px 50px;
	margin: 0px auto;
}

.microtitle-text {
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #3D55F9;
}

.plain-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: calc(32 / 18 * 100%);
	color: #071330;
	@media (max-width: 768px) {
		font-size: calc(12px + (18 - 12)*((100vw - 320px) / (768 - 320)));
	}
}

.title-text {
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: calc(47 / 40 * 100%);
	color: #071330;
	@media (max-width: 768px) {
		font-size: calc(28px + (40 - 28)*((100vw - 320px) / (768 - 320)));
	}
}

.main-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 43px;
	line-height: calc(50 / 43 * 100%);
	color: #071330;

	@media (max-width: 768px) {
		font-size: calc(20px + (43 - 20)*((100vw - 320px) / (768 - 320)));
	}
}

body {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 100%;
	display: flex;
	flex-direction: column;
}
