- var menuItems = ['Курсы','Отзывы','Контакты']
doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Бинарный кот

        link(rel="stylesheet" href="css/normalize.min.css")
        link(rel="stylesheet" href="css/style.css")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet")

        script(src="js/burger.js")
    body
        header.header
            .container
                .header__row
                    a.main_href(href="#")
                        .header__logo.logo
                            .logo__image
                                img(src="img/logo.svg" alt="")
                            .logo__text
                                .logo__text__caption школа программирования
                                .logo__text__title бинарный кот
                    .menu__burger
                        span
                    .header__menu
                        ul.menu
                            each option in menuItems
                                li.menu__link
                                    a(href="#")= option
        .main-screen
            .container
                .main-screen__row
                    .main-screen__img
                    .main-screen__content 
                        h2.main-screen__text 
                            | Изучай и покоряй вместе с нами!
                        a(href="#")
                            .main-screen__button 
                                | Начать сейчас


        
        