@use 'vars';

.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;

	font-family: 'Roboto', sans-serif;

	&__container {
	}

	&__row {
		height: 100px;
		@media (max-width: vars.$md_header_hide-nav) { height: 75px; }

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		@media (max-width: vars.$md_header_hide-nav) {
			display: none;
		}
		&__list {
			list-style: none;
			&__link {
				display: inline-block;
				font-size: 16px;
				line-height: 118.75%;
				a {
					color: vars.$color_black;
					&:hover {
						text-decoration: underline;
					}
				}
				&:not(:last-child) {
					margin-right: 55px;
				}
			}
		}
	}
	&__extra {
		display: flex;
		align-items: center;
		
		font-size: 19px;
		& > span {
			cursor: pointer;
			&:not(:last-child) { margin-right: 30px; }
		}

		&__search {
			@media (max-width: vars.$md_header_hide-search) { display: none; }
		}
	}
}

.logo {
	display: flex;
	align-items: center;

	&__img {
		width: 29px;
		padding: 2px 8px;

		background-color: #fff;
		border-radius: 50%;
		overflow: hidden;

		@media (max-width: vars.$md_header_hide-nav) and (min-width: vars.$md_header_minimize-icons) { width: 31px; }
		img {
			width: 100%;
		}
	}

	&__text {
		margin: 0 0 0 8px;
		font-weight: 500;
		font-size: 22px;
		line-height: 118%;
		color: vars.$color_black;
		text-transform: uppercase;
		@media (max-width: vars.$md_header_hide-nav) and (min-width: vars.$md_header_minimize-icons) { font-size: 25px; }
	}
}