$container_width: 1240px;
$change_figure: 480px;
$md_hide_nav: 1023px;

.main-page {
	font-family: Roboto, sans-serif;
	flex: 1 0 100%;
	position: relative;

	&__container {
		position: relative;
		z-index: 2;
	}

	&__content {
		display: flex;
		height: 100vh;
		justify-content: space-between;
		align-items: stretch;
		padding-top: 105px;
		padding-bottom: 20px;
		box-sizing: border-box;
		@media (max-width: 767px) and (orientation:portrait) {
			padding-top: 80px;
			flex-direction: column-reverse;
			align-items: center;
			justify-content: center;
		}
	}

	&__img {
		margin-left: 30px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex: 0 1 630px;
		@media (max-width: 767px) {
			flex: 0 1 auto;
			margin: 0 0 20px 0;
		}
		img {
			width: 100%;
			@media (max-width: 767px) {
				max-width: calc(210px + (300 - 210)*((100vw - 320px) / (767 - 320)));
			}
		}
	}

	&__hero {
		display: flex;
		justify-content: center;
		flex-direction: column;
		flex: 1 0 auto;
		max-width: 510px;
		@media (max-width: 767px) {
			flex: 0 1 auto;
		}
		&__text {
			margin: 0;
			margin-bottom: 50px;
			@media (max-width: 1240px) {
				margin-bottom: calc(15px + (50 - 15)*((100vw - 320px) / (1240 - 320)));
			}
			font-style: normal;
			font-weight: bold;
			font-size: 100px;
			line-height: 120%;
			@media (max-width: 1240px) {
				font-size: calc(30px + (100 - 30)*((100vw - 320px) / (1240 - 320)));
			}
			color: #170C04;
		}
		&__buttons > *:not(:last-child) {
			flex: 1 1 auto;
			margin-right: 20px;
			margin-bottom: 10px;
		}
	}

	&__bg-figure {
		&__wrapper {
			position: absolute;
			right: 0;
			top: 0;
			height: 100vh;
			width: auto;
			background-color: #fff;
			z-index: 0;
			&.menu-active {
				z-index: 3;
			}
		}
		height: 100%;
		z-index: 0;	
		background-color: rgba(226, 122, 58, 0.1);

		width: calc(344px + 50px + max(0px,(100vw - #{$container_width})/2));
		clip-path: polygon(254px 0%, 100% 0%, 100% 100%, 0% 100%);
		transition: 0.08s ease;

		@media (max-width: $change_figure) { 
			width: 100vw;
			&__wrapper {
				height: 50vh;
				&.menu-active {
					height: 100vh;
				}
			}
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 70%);
		}

		&.menu-active {
			clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
			@media (max-width: $change_figure) { 
				clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
			}
		}
	}

	&__menu-content {
		display: none;
		&.menu-active { display: block; }
		float: right;

		padding-top: 120px;
		@media (max-width: $md_hide_nav) { padding-top: 85px; }

		padding-right: max(50px , calc(50px + (100vw - #{$container_width}) / 2));

		&__list {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		&__link {
			height: 23px;
			margin: 20px 0;
			text-align: right;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 118.75%;
			& > a {
				color: #000;
			}
			&:hover {
				text-decoration: underline;
			}
		}

		&__social {
			margin: 30px 0 0 0;
			font-size: 30px;
			text-align: right;
		}
	}
}
