@use 'vars';

.subscription {
	margin: 76px 0 0 0;
	text-align: center;

	&__row {
		width: 100%;
		margin: 0 0 45px 0;

		display:  flex;
		justify-content: center;

		& > :not(:last-child) {
			margin: 0 30px 0 0;
		}

		@media (max-width: vars.$md_subscription_wrap) {
			flex-wrap: wrap;

			& > :not(:last-child) {
				margin: 0 0 50px 0;
			}
		}
	}

	&__title {
		max-width: 315px;
		margin: 0 auto 38px;
	}

	&__card {
		flex: 0 1 360px;
		display: flex;
		flex-direction: column;
		align-items: center;

		&__img {
			flex: 0 1 auto;
			overflow: hidden;
			width: 100%;
			max-width: 306px;
			img {
				max-width: 100%;
				object-fit: cover;
				mix-blend-mode: darken;
			}
		}

		&__title {
			flex: 1 1 auto;
			margin: 51px 0 0 0;

			font-family: Poppins;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 140%;
			text-align: center;
			color: vars.$color_black;
		}

		&__text {
			flex: 1 1 auto;
			margin: 15px 0 23px;
			line-height: 118.75% !important;
		}
	}
}