

$container_width: 1140px;
$container_padding: 50px;
$container_padding_change: 425px;
$container_padding_mobile: 30px;

$color_orange: #E27B3A;
$color_black: #170C04;

$md_header_hide-nav: 1023px;
$md_header_minimize-icons: 510px;
$md_header_hide-search: 374px;

$md_main-page_change_orientation: 767px;
$md_main-page_change-figure: 480px;

$md_triggers_wrap: 820px;
