@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@import '_icons.scss';
@import '_buttons.scss';
@import '_header.scss';
@import '_main-page.scss';
@import 'trigger-products.scss';

a {
	text-decoration: none;
}

.container {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0 50px;
	box-sizing: content-box;
}

body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.plain-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	color: #170C04;
	opacity: 0.6;
}


.link-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	color: #E27B3A;
}