@use 'fonts';
@use 'vars' as v;
@use 'adaptive';

._container {
	max-width: v.$container_width;
	width: 100%;
	padding: 0 v.$container_padding;
	margin: 0 auto;
}

._plain-bold {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 2rem;
	line-height: 100%;
	color: #000;
}

._article-title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 8rem;
	line-height: 100%;
	color: #000;
}

._plain {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 2.25rem;
	line-height: 167%;
	color: rgba(0,0,0,0.8);
}