//       Colors
$color_red: #FF3100;
$color_darkred: #B71000;
//       Main sizes
$container_width: 1340px;
$container_padding: 50px;
//       Breakpoints
$header__disable-phone: 1190px;
$header__disable-order: 980px;
$header__disable-nav: 800px;