* {
  font-family: Roboto, sans-serif;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1220px;
  padding: 0px 55px;
  margin: 0px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100vw;
  background-color: #007765;
}

.header__row {
  width: 100%;
  height: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__links {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.header__menu__link {
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
}

.header__menu__link a {
  text-decoration: none;
  color: #fff;
}

.header__menu__link:not(:last-child) {
  border-right: 2px solid #fff;
}

.header__menu__link:last-child {
  padding-right: 0;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 84px;
}

.hero {
  color: #fff;
  background-size: cover;
  background-position: center center;
}

.hero__text {
  margin: 0px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.hero#welcome {
  padding: 160px 0px;
  font-size: 72px;
  line-height: 84px;
  background-image: url("../img/welcome-image.png");
}

.hero#joinus {
  padding: 128px 0px;
  font-size: 48px;
  line-height: 56px;
  background-image: url("../img/join-image.png");
}

.section__title {
  margin: 0px;
  color: #007765;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
}

.section__content {
  margin-top: 16px;
}

.section__content__text {
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.section__content__img {
  max-width: 115px;
  max-height: 115px;
  border-radius: 50%;
  float: left;
  margin-right: 48px;
}

.section#problem {
  padding: 48px 0px 92px;
  background-color: #eee;
}

.section#coin {
  padding: 37px 0px 97px;
  background-color: #fff;
}

.section#team {
  padding: 64px 0px 84px;
  background-color: #eee;
}

.section#team .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.section#team .team__member {
  width: 350px;
  margin: 15px 0px;
  text-align: center;
  padding: 25px 0px;
}

.section#team .team__member__photo {
  max-width: 168px;
  max-height: 168px;
  border-radius: 50%;
}

.section#team .team__member__name {
  margin: 12px 0px 0px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #007765;
}

.section#team .team__member__position {
  margin: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.footer {
  padding-top: 50px;
  padding-bottom: 62px;
  background-color: #333;
}

.footer__text {
  max-width: 540px;
  margin: 0px auto;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */