* { 
    font-family: Roboto, sans-serif;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1220px;
    padding: 0px 55px;
    margin: 0px auto;
    box-sizing: border-box;
}

.header {
    position: fixed;
    width: 100vw;

    background-color: #007765;

    // .header__row
    &__row {
        width: 100%;
        height: 84px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 767px) { 
            height: 60px;
        }
    }

    &__icon {
        @media (max-width: 767px) {
            width: 120px;
        }
        width: 184px;
    }

    // .header__menu
    &__menu {
        &__links {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
        }
        &__link { 
            @media (min-width: 768px) {
                display: inline-block;
                padding-right: 8px;
                padding-left: 8px;
                &:not(:last-child) {
                    border-right: 2px solid #fff;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
            list-style: none;
            a {
                text-decoration: none; 
                color: #fff;
                transition: all 0.3s ease;
                &:hover {
                    color: #f0f0f0;
                    font-size: 26px;
                }
            }
            @media (max-width: 767px) {
                display: block;
                padding: 15px 0px;
                border-right: 0px solid #fff;
            }
        }
        
        @media (max-width: 767px) {
            display: none;
            &.active {
                display: block;
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                height: 250px;
                background-color: #007765;
            }
        }
    }

    &__burger {
        @media (max-width: 767px) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;

            &:before, &::after {
                content: '';
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
            }
            &:before { top: 0; }
            &::after { bottom: 0; }

            span {
                position: absolute;
                left: 0;
                top: 9px;
                width: 100%;
                height: 2px;
                background-color: #fff;
            }
        }
        &.active {
            span {
                display: none;
            }
            &:before {
                transform: rotate(45deg);
                top: 9px;
            }
            &:after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
        }
    }
}

.content {
    flex: 1 1 auto;
    margin-top: 84px;
    @media (max-width: 767px) {
        margin-top: 60px;
    }
}

.hero {
    color: #fff;
    background-size: cover;
    background-position: center center;

    &__text {
        margin: 0px;
        font-style: normal;
        font-weight: 500;
        text-align: center;
    }

    &#welcome {
        padding: 160px 0px;
        font-size: 72px;
        line-height: 84px;
        background-image: url("../img/welcome-image.png");
    }

    &#joinus {
        padding: 128px 0px;
        font-size: 48px;
        line-height: 56px;
        background-image: url("../img/join-image.png");
    }
}

.section {
    &__title {
        margin: 0px;

        color: #007765;
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        line-height: 75px;
        text-align: center;
    }

    &__content {
        margin-top: 16px;
        &__text {
            margin: 0px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 37px;
            color: #000000;
        }
        &__img {
            max-width: 115px;
            max-height: 115px;
            border-radius: 50%;
            
            float: left;
            margin-right: 48px
        }
    }

    &#problem {
        padding: 48px 0px 92px;
        background-color: #eee;
    }
    &#coin {
        padding: 37px 0px 97px;
        background-color: #fff;
    }
    &#team {
        padding: 64px 0px 84px;
        background-color: #eee;
    }
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    // margin: 0px auto;
    &__member {
        width: 350px;
        margin: 15px 0px;
        text-align: center;
        padding: 25px 0px;
        &__photo {
            max-width: 168px;
            max-height: 168px;
            border-radius: 50%;
        }
        &__name {
            margin: 12px 0px 0px 0px;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #007765;
        }
        &__position {
            margin: 0;
            font-style: italic;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
        }
    }
}

.footer {
    padding-top: 50px;
    padding-bottom: 62px;
    background-color: #333;

    &__text {
        max-width: 540px;
        margin: 0px auto;

        color: #fff;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
    }
}