@use 'vars' as v;
@use 'socials';

.footer {
	background-color: v.$color_dark-main;
	padding: 24px 0 40px;

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__nav {
		flex: 0 1 795px;
		ul li a { 
			color: #fff;
		}
	}
}