@use 'vars' as v;

.header {
	position: relative;
	z-index: 2;
	margin-top: 26px;


	&__top {
		padding: 16px 0 9px;
		border-top: 1px solid v.$color_dark-main;
		border-bottom: 1px solid v.$color_dark-main;
	}

	&__container {
		display: grid;
		grid-template-columns: 5fr 2fr 5fr;
		column-gap: 20px;

		@media screen and (max-width: v.$header_md-burger) {
			display: flex;
			justify-content: space-between;
		}
	}
	&__logo {
		text-align: center;
	}
	&__nav {
		@media screen and (max-width: v.$header_md-burger) {
			display: none;
		}
	}
	&__burger {
		display: none;
		@media screen and (max-width: v.$header_md-burger) {
			display: block;
			margin: auto 0;
		}
	}
	&__burger-button {
		margin: 0;
		padding: 0;
		border: 0;
		background-color: transparent;
	}
	&__burger-nav {
		position: absolute;
		z-index: -1;
		top: 100%;
		left: 0;
		width: 100%;
		height: calc(100vh - 80px);
		box-sizing: border-box;
		padding: 40px 20px 40px;
		overflow: scroll;
		background-color: #fff;
		ul { 
			flex-direction: column; 
			li {
				margin: 0 auto 40px;
				text-align: center;
			}
		}
		@media screen and (min-width: v.$header_md-burger) {
			display: none;
		}
	}
}

.main-nav {
	ul {
		flex: 1 1 auto;
		margin: 6px 0 0 0;
		padding: 0;

		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;

		li a {
			text-decoration: none;
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 125%;
			color: v.$color_dark-main;
		}
	}
}